@if(showAddTaskForm){
  <section id = "newTasks">
    <app-new-tasks 
      (addNewTask)="onAddTask($event)"
      (cancelClicked)="onCancelAddTask()"
  />
  </section>
} 

<section id="tasks">
  <header>
    <h2>{{ name }}'s Tasks</h2>
    <menu>
      <button (click)="onStartAddTask()">Add Task</button>
    </menu>
  </header> 

  <ul>
    @for (task of selectedUserTasks; track task.id) {
      <li>
        <app-card>
          <app-task 
            [task] = "task"
            (complete)="onCompleteSelected($event)"  
          />
        </app-card>
      </li>
    }
  </ul> 
</section>